<?xml version='1.0'?>

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<gazebo reference="left_wheel">
    <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="right_wheel">
    <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="chassis">
    <material>Gazebo/Orange</material>
</gazebo>

<gazebo reference="caster_wheel">
    <material>Gazebo/Black</material>
    <mu1 value = "0.001"/>
    <mu2 value = "0.001"/>
</gazebo>

<gazebo reference="tower">
    <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="holder">
    <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="lidar">
    <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="camera_link">
    <material>Gazebo/Red</material>
</gazebo>

<!--<gazebo reference="camera_link_optical">
 
</gazebo>
-->
  <xacro:include filename="$(find my_robot)/urdf/drive_controller.xacro" />
  <xacro:include filename="$(find my_robot)/urdf/robot_core.xacro" />
  <xacro:include filename="$(find my_robot)/urdf/lidar.xacro" />
  <xacro:include filename="$(find my_robot)/urdf/camera.xacro" />     

</robot>
