<?xml version="1.0"?>
<robot>
  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <legacyMode>false</legacyMode>
      <alwaysOn>true</alwaysOn>
      <updateRate>10</updateRate>

      <!--Wheel information-->
      <leftJoint>left_wheel_joint</leftJoint>
      <rightJoint>right_wheel_joint</rightJoint>
      <wheelSeparation>0.35</wheelSeparation>
      <wheelDiameter>0.1</wheelDiameter>

      <!--Limits-->
      <wheelAcceleration>10</wheelAcceleration>
      <wheelTorque>100</wheelTorque>
      <max_wheel_torque>200</max_wheel_torque>
      <max_wheel_acceleration>10.0</max_wheel_acceleration>

      <!--Output-->
      <robotBaseFrame>base_link</robotBaseFrame>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <publishOdomTF>true</publishOdomTF>
      <publishWheelTF>false</publishWheelTF>
      <publishWheelJointState>false</publishWheelJointState>
      <publishTf>1</publishTf>

      <commandTopic>cmd_vel</commandTopic>
      <rosDebugLevel>na</rosDebugLevel>
      <odometrySource>world</odometrySource>
    </plugin>
  </gazebo>
</robot>
