<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Provide modified RViz launch config -->
  <arg name="rviz_config" default="$(find my_robot)/config/rviz_config.rviz"/>

  <!-- Mapping Node -->
  <param name="/use_sim_time" value="false"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

  <include file="$(find hector_geotiff_launch)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
  </include>

<!-- turtlebot_teleop_key velocity smoother -->
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot3_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>

<!-- Launch RViz-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rviz_config)"/>
  
</launch>